[submodule "movie-database-viewer"]
	path = movie-database-viewer
	url = https://github.com/daniel-beckham/movie-database-viewer
[submodule "stock-market-price-updater"]
	path = stock-market-price-updater
	url = https://github.com/daniel-beckham/stock-market-price-updater.git
