{% extends "base.html" %}
{% block body %}
<div class="container py-4 text-center">
  <a class="btn btn-secondary btn-lg m-1" href="https://github.com/daniel-beckham" role="button">
    <h3 class="fw-normal">GitHub</h3>
  </a>
  <a class="btn btn-secondary btn-lg m-1" href="https://linkedin.com/in/danielbeckham/" role="button">
    <h3 class="fw-normal">LinkedIn</h3>
  </a>
  <a class="btn btn-secondary btn-lg m-1" href="/projects" role="button">
    <h3 class="fw-normal">Projects</h3>
  </a>
</div>
{% endblock %}
