<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <title>Daniel Beckham</title>
</head>
<body class="bg-light">
  <div class="container">
    <div class="pt-5 text-center">
      <h1 class="display-4">Daniel Beckham</h1>
    </div>
    <div class="py-3 text-center">
      <a class="btn btn-secondary btn-lg mx-1" href="https://github.com/beckhamd" role="button">GitHub</a>
      <a class="btn btn-secondary btn-lg mx-1" href="https://linkedin.com/in/danielbeckham/" role="button">LinkedIn</a>
      <a class="btn btn-secondary btn-lg mx-1" href="/projects">Projects</a>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
