<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <title>Projects</title>
</head>
<body class="bg-light">
  <div class="container">
    <div class="pt-5 text-center">
      <h1 class="display-4"><a href="/" class="text-dark">Daniel Beckham</a></h1>
      <h1 class="font-weight-normal text-muted">Projects</h1>
    </div>
    <div class="row pt-5">
      <div class="col-md-7 order-md-2">
        <h2>Stock Market Price Updater</h2>
        <a class="btn btn-secondary btn-lg mr-1" href="/stock-market-price-updater" role="button">Live Demo</a>
        <a class="btn btn-secondary btn-lg ml-1" href="https://github.com/daniel-beckham/stock-market-price-updater"
          role="button">GitHub Page</a>
        <p class="lead">This is a single-page application that retrieves daily stock prices and also allows two years of
          historical data to be viewed for each stock.</p>
        <p class="lead"><span class="font-weight-bold">Technologies:</span> Flask, React, Docker</p>
      </div>
      <div class="col-md-5 order-md-1 img-preview">
        <a href="{{ url_for('static', filename='img/stock-market-price-updater.png') }}">
          <img class="img-fluid mx-auto shadow-sm"
            src="{{ url_for('static', filename='img/stock-market-price-updater.png') }}"
            alt="Stock Market Price Updater">
        </a>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-md-7 order-md-2">
        <h2>NASA Imagery Fetcher</h2>
        <a class="btn btn-secondary btn-lg" href="https://github.com/daniel-beckham/nasa-imagery-fetcher"
          role="button">GitHub Page</a>
        <p class="lead">This is an Android app that fetches images from NASA's Image of the Day and Astronomy Picture of
          the Day services.</p>
        <p class="lead"><span class="font-weight-bold">Technologies:</span> Android Studio, Java</p>
      </div>
      <div class="col-md-5 order-md-1 img-preview">
        <a href="{{ url_for('static', filename='img/nasa-imagery-fetcher.png') }}">
          <img class="img-fluid mx-auto shadow-sm"
            src="{{ url_for('static', filename='img/nasa-imagery-fetcher.png') }}" alt="NASA Imagery Fetcher">
        </a>
      </div>
    </div>
  </div>
  <div class="modal fade" id="img-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content shadow-lg border-0">
        <div class="modal-body p-0 overflow-hidden">
          <a class="img-link" href="{{ url_for('projects') }}" data-dismiss="modal">
            <img class="img-fluid m-auto img-full" style="flex: 0 0 auto;" src="data:," alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script>
    $(function () {
      $('.img-preview').on('click', function () {
        event.preventDefault();
        $('.img-link').attr('href', $(this).find('a').attr('href'));
        $('.img-full').attr({
          'src': $(this).find('img').attr('src'),
          'alt': $(this).find('img').attr('alt')
        });
        $('#img-modal').modal('show');
      });
    });
  </script>
</body>
</html>
