{% extends "base.html" %}
{% load static %}
{% block title %}{{ page_title }}{% endblock %}
{% block body %}
<div class="container pt-5">
  {% for project in projects %}
  <div class="row gx-5 pb-5">
    <div class="col-md-7 order-md-2">
      <h2>{{ project.name }}</h2>
      <div class="links">
        {% if project.live_demo_link %}
        <a class="btn btn-secondary btn-lg m-1" href="{{ project.live_demo_link }}" role="button">Live Demo</a>
        {% endif %}
        {% if project.github_page_link %}
        <a class="btn btn-secondary btn-lg m-1" href="{{ project.github_page_link }}" role="button">GitHub Page</a>
        {% endif %}
      </div>
      <p class="lead">{{ project.description }}</p>
      {% if project.technologies or project.languages %}
      <table class="table table-borderless table-striped shadow-sm">
        <tbody>
          {% if project.technologies %}
          <tr>
            <th class="w-25" scope="row">Technologies</th>
            <td>{{ project.technologies }}</td>
          </tr>
          {% endif %}
          {% if project.languages %}
          <tr>
            <th class="w-25" scope="row">Languages</th>
            <td>{{ project.languages }}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
      {% endif %}
    </div>
    <div class="col-md-5 order-md-1 img-preview">
      <a href="{% static project.image %}">
        <img class="img-fluid mx-auto shadow" src="{% static project.image %}" alt="{{ project.name }}">
      </a>
    </div>
  </div>
  {% endfor %}
</div>
<div class="modal fade" id="img-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content shadow-lg border-0">
      <div class="modal-body p-0 overflow-hidden" data-bs-dismiss="modal">
        <img class="img-fluid m-auto img-full" src="data:," alt="">
      </div>
    </div>
  </div>
</div>
{% endblock %}
